.card{
    border: 1px solid hsl(0, 0%, 84%);
    border-radius: 10px;
    max-width: 250px;
    font-family: monospace;
    box-shadow: 3px 3px 10px hsla(0, 0%, 0%, 0.122);
    padding: 20px;
    margin: 10px;
    text-align:center;
    display: inline-block;
  }
  .card_image{
    max-width: 60%;
    height: auto;
    border-radius: 50%;
  }
  .card_text_color{
    color: hsla(0, 0%, 0%, 0.581)
  }